@use "scss/base/variables";

.valIcon {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 20px rgba(113, 191, 255, 0.25);
	margin: 0 auto;
	margin-bottom: 1.5rem;

	img {
		width: 90px;
		margin-top: 5px;
	}
}

.midVal {
	@media (max-width: variables.$breakpoint_md) {
		margin: 0 auto;
	}
}

.valText {
	color: variables.$primary;
	font-size: 1.4rem;
	font-weight: variables.$font-weight-base;
}
