// Montserrat
@font-face {
	font-family: "Montserrat";
	font-weight: 200;
	font-stretch: 100%;
	font-display: swap;
	font-style: normal;
	src: url("/static/fonts/montserrat/montserrat-extralight.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 300;
	font-stretch: 100%;
	font-display: swap;
	font-style: normal;
	src: url("/static/fonts/montserrat/montserrat-thin.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	font-stretch: 100%;
	font-display: swap;
	font-style: normal;
	src: url("/static/fonts/montserrat/montserrat-regular.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	font-stretch: 100%;
	font-display: swap;
	font-style: normal;
	src: url("/static/fonts/montserrat/montserrat-bold.ttf") format("truetype");
}
