@use "base/variables";
@import "~bootstrap/scss/bootstrap";

.clrText {
	color: variables.$primary;
}

body {
	font-family: variables.$headings-font-family;
	font-weight: variables.$font-family-base;
}

// Global
* {
	outline: none;
}
.nav-link {
	@media (min-width: variables.$breakpoint_md) {
		padding-left: 0.8rem !important;
		padding-right: 0.8rem !important;
	}
}
body {
	overflow-x: hidden;
	background-color: variables.$body-bg;
}

#logo {
	min-height: 35px;
	max-height: 40px;
}

nav {
	background-color: variables.$nav-bg;
	a {
		color: variables.$nav-link-color;
	}
	a:hover {
		color: variables.$primary;
	}
}

.netImg {
	width: 65%;
	@media (max-width: variables.$breakpoint_md) {
		width: 100%;
	}
}

#footer {
	border-top: 3px solid;
	border-color: variables.$primary;
}

.hero {
	width: 47%;
	p {
		font-size: 1.25rem;
		margin-bottom: 2.9rem;
	}
	@media (max-width: variables.$breakpoint_sm) {
		p {
			font-size: 1rem;
			text-align: center;
		}

		width: 100%;
		justify-content: center;
		text-align: center;
	}
	@media (max-width: variables.$breakpoint_md) {
		width: 100%;
		margin-top: 3rem;
	}
}

.truckImg {
	margin-top: 30px;
	height: auto;
	max-height: 350px;
}

p {
	@media (max-width: variables.$breakpoint_sm) {
		font-size: 1rem;
		text-align: center;
		margin-bottom: 2.9rem;
	}
}
.formBtn {
	background-color: variables.$primary;
	border: none;
	height: 40px;
	margin-bottom: 50px;
}

.padding-0 {
	padding-right: 12rem;
	padding-left: 12rem;
	@media (max-width: variables.$breakpoint_md) {
		padding-right: 0;
		padding-left: 0;
	}
}

.paddingTeam {
	padding-right: 7rem;
	padding-left: 7rem;
	padding-bottom: 5%;
	@media (max-width: variables.$breakpoint_md) {
		padding-right: 4rem;
		padding-left: 4rem;
	}
}
